* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    body {
        background: linear-gradient(#0e8044, #d48cf8, #85e582);
        .sectionMain {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardMain {
                background-color: #d48cf8;
                min-width: 30em;
                min-height: 20em;
                text-align: center;
                box-shadow: inset -3px -3px 7px #08302f, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
                border-radius: 1.2em;
                .title {
                    padding: 0.5em;
                    text-transform: uppercase;
                    color: #08302f;
                }
                .title::after {
                    content: "";
                    display: block;
                    width: 15em;
                    height: 0.5em;
                    margin: 0 auto;
                    border-bottom: 1px solid #08302f;
                }
                @media (max-width: 767px) {
                    .title::after {
                        width: 12em !important;
                    }
                }
            }
            @media (max-width: 767px) {
                .cardMain {
                    min-width: 20em;
                }
            }

            .ulMain {
                list-style: none;
            }
            .inputForm {
                color: #08302f;
                padding: 0.5em;
                width: 15em;
                border-radius: 1.2em;
                outline: none;
                border-color: #08302f;
            }
            .btnForm {
                margin: 0 0.5em;
                padding: 0.5em;
                background-color: #08302f;
                color: white;
                border-radius: 0.5em;
                cursor: pointer;
                border-color: #212121;
                box-shadow: inset -3px -3px 7px #08302f, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
                outline: none;
                
            }
            
            .elementActive {
                width: 21em;
                padding: 1.5em;
                margin: 20px auto;
                background-color: #08302f;
                box-shadow: inset -3px -3px 7px #212121, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
                color: white;
                outline: none;
                border: none;
                border-radius: 0.5em;
            }
            @media (max-width: 767px) {
                .elementActive {
                    width: 14em !important;
                }
            }
        }
        .footerMain {
            position: fixed;
            top: 34.5em;
            left: 2em;
            color: #08302f;
        }

        @media (max-width: 767px) {
            .footerMain {
                top: 1.5em !important;
                min-width: 21em;
            }
        }

        .paragrafo {
            display: inline-flex;
        }

        .done {
            text-decoration: line-through;

            .btnForm {
                background-color: gray;
            }
        }
    }
}
