* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    body {
        .sectionMain {
            background-color: #212121;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardMain {
                background-color: #63c000;
                width: 30em;
                height: 20em;
                text-align: center;
                box-shadow: inset -3px -3px 7px #09df37, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
                border-radius: 1.2em;
                .title {
                    padding: 0.5em;
                    text-transform: uppercase;
                }
                .title::after {
                    content: "";
                    display: block;
                    width: 15em;
                    height: 0.5em;
                    margin: 0 auto;
                    border-bottom: 1px solid #212121;
                }
                @media (max-width: 767px) {
                    .title::after {
                        width: 12em !important;
                    }
                }
            }

            .ulMain {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: baseline;
            }
            .inputForm {
                background-color: #51900e;
                color: white;
                padding: 0.5em;
                width: 15em;
                border-radius: 1.2em;
                outline: none;
                border-color: #212121;
            }
            .btnForm {
                padding: 0.5em;
                background-color: #212121;
                color: white;
                border-radius: 0.5em;
                cursor: pointer;
            }
            .inputAc {
                width: 25em;
                padding: 1.5em;
                margin-top: 1em;
                background-color: #51900e;
                color: white;
                outline: none;
                border: none;
                border-radius: 0.5em;
            }
            @media (max-width: 767px) {
                .inputAc {
                    width: 14em !important;
                }
            }
        }
        .footerMain {
            position: fixed;
            top: 34.5em;
            left: 2em;
            color: #63c000;
        }

        @media (max-width: 767px) {
            .footerMain {
                top: 1.5em !important;
            }
        }
    }
}
